/* BODY OG NAVBAR */
/*------*/
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: #333;
  background: #f4f4f4;
}

.navbar {
  background-color: #7a7a7a;
  color: #ffffff;
  position: relative;
}

.navbar ul {
  margin: unset;
  padding: unset;
  list-style: none;
  display: flex;
}

.navbar .nav_div {
  display: flex;
}

.navbar a {
  padding: 1em;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.navbar a.home {
  background-color: rgb(102, 176, 237);
}

.navbar a:hover {
  background-color: #393434;
}

.navbar .burger {
  position: absolute;
  top: 0;
  right: 0;
  border: unset;
  background: unset;
  cursor: pointer;
  display: none;
}

.navbar .burger svg {
  stroke: #ffffff;
}

.navbar .burger .icon_close {
  display: none;
}

@media screen and (max-width: 650px) {
  .navbar.open ul {
    display: block;
  }

  .navbar.open .nav_div {
    display: block;
  }

  .navbar.open a {
    display: block;
  }

  .navbar .nav_div {
    display: none;
  }

  .navbar .burger {
    display: block;
  }

  .navbar.open .burger .icon_open {
    display: none;
  }

  .navbar.open .burger .icon_close {
    display: block;
  }
}
/* FORSIDE HTML */
/*------*/
.forside {
  display: grid;
  grid-template-columns: 1fr;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  height: 50vh;
  background: linear-gradient(rgba(212, 211, 211, 0.5), rgba(0, 0, 0, 0.5)),
    url("hero_section..webp") center/cover no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 0 20px;
}

.hero_content {
  margin-top: 2%;
  font-size: large;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    display: flex;
    align-items: baseline;
    text-align: center;
    padding: 0 40px;
    height: 100vh;
    background: linear-gradient(rgba(212, 211, 211, 0.5), rgba(0, 0, 0, 0.5)),
      url("hero_section..webp") center/cover no-repeat;
    color: #fff;
    justify-content: center;
  }

  .hero_content {
    max-width: 600px;
    margin-top: 5%;
    font-size: xx-large;
  }

  #lotties_forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(94, 155, 175);
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
  }
}

#lotties_forside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(197, 218, 225);
  border-radius: 30%;
}
.breadtekst {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.6;
}

#lottieKaffe_forside {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#lottieFish_forside {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* OM MIG HTML */
/*------*/

#om_mig {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#lottieMusscroll {
  margin-bottom: 5px;
  justify-content: center;
}

.about_alt_tekst {
  padding-right: 2%;
}

.about_alt_tekst {
  padding-left: 5%;
}

#lottieMusscroll {
  justify-content: center;
}

#cv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 10%;
  padding-left: 2%;
}

#cv li {
  list-style-type: none;
}

.christian_container img {
  height: 80%;
  width: 70%;
  border-radius: 5%;
}
.christian_container {
  text-align: center;
}

@media screen and (min-width: 950px) {
  #lottieMusscroll {
    display: none;
  }

  .about_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
  .about_alt_tekst {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-rows: 1fr ifr;
    padding-top: 30%;
  }

  #om_mig {
    padding-left: 40px;
    padding-right: 50px;
  }

  #lottieKaffe {
    width: 200px;
    height: 200px;
  }

  #cv {
    width: 250px;
    height: 300px;
    padding-left: 50px;
  }

  .christian_container img {
    height: 80%;
    width: 80%;
    border-radius: 5%;
    margin: 5%;
  }

  .christian_container {
    grid-column: 2;
    padding-top: 30%;
  }

  #lottieKaffe_forside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #lottieFish_forside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/* PROJEKTPORTFOLIO HTML*/
/*------*/

.center_mus {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4%;
}

.tema_beskrivelse {
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.tema_beskrivelse:hover {
  background-color: #e0e0e0;
  transform: scale(1.01);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.tema_beskrivelse h2 {
  margin-bottom: 10px;
}

.tema_beskrivelse p {
  flex: 1;
}

.tema_billede {
  width: 550px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .tema_beskrivelse {
    padding: 20px;
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }

  .tema_beskrivelse h2 {
    margin-bottom: 10px;
  }

  .tematext {
    margin-left: 20%;
    margin-right: 20%;
  }

  .tema_billede {
    width: 550px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
  }
}

/* FOOTER */
/*------*/
footer {
  padding: 10px;
  font-size: small;
  width: 100%;
  height: 100%;
}

.footer_container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1px;
  position: relative;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 0;
  width: 100%;
}

#social_overskrift {
  width: 100%;
  grid-row: 1;
}

#social_links {
  width: 100%;
  margin-top: 4px;
  grid-row: 2;
}

#social_links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
}

#social_links li {
  display: inline-block;
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
}

#social_links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

#social_links a:hover {
  background-color: #333333;
  color: rgb(102, 176, 237);
  transform: scale(1.2);
}

#copyrights {
  grid-row: 3;
  width: 100%;
}
